## Learn more at 
## https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html
## https://packaging.python.org/en/latest/guides/using-manifest-in/

graft src
graft docs
# graft tests
# `-> adds all files inside a directory

prune .github
prune analysis
# `-> remove all files inside a directory

include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include pyproject.toml
include README.md

exclude .gitignore
exclude .readthedocs.yaml
exclude README.Rmd
# `-> matches file paths relative to the root of the project

# global-exclude *_test.py
# `-> matches file names (regardless of directory)
