## Learn more at 
## https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html
## https://packaging.python.org/en/latest/guides/using-manifest-in/

graft src
graft docs
# graft tests
# `-> adds all files inside a directory

prune .github
# `-> remove all files inside a directory

inclur CHANGELOG.md
include CITATION.cff
include MANIFEST.in
include pyproject.toml
# `-> matches file paths relative to the root of the project

# global-exclude *_test.py
# `-> matches file names (regardless of directory)
